@{
    Layout = BaseController.BaseLayout;
}

<div class="docs-lay">
    <div class="l-bar">
        <h3>Comenzando</h3>
        <ul>
            <li>Introducción</li>
            <li>Descargar</li>
            <li>Contenidos</li>
        </ul>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <div class="r-bar">
        <h5>En esta página</h5>
        <hr />
        <ul>
            <li>Inicio</li>
        </ul>
    </div>
</div>