<header class="pos-sticky flex-center w-100 bg-purple mb-5">
    <div class="container flex-between">
        <ul>
            <li>Docs</li>
            <li>Colors</li>
            <li>Icons</li>
            <li>Functions</li>
        </ul>
        <input type="search" />
        <div>
            v1.1
        </div>
    </div>
</header>